:root {
    --root-size:  clamp (50px, 10vw, 100px);
    --rotateSpeed: 20s;
    --bounceSpeed: 2s;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    height: 100lvh;
    width: 100vw;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    perspective: calc(var(--root-size) * 15);
    perspective-origin: 50% calc(50% - calc(var(--root-size) * 5));
    position: absolute;
}

.scene {
    transform-style: preserve-3d;
    max-width: 100vw;
    max-height: 100lvh;
    position: relative;
    animation: rotateScene var(--rotateSpeed) linear infinite;
}

.floor {
    transform-style: preserve-3d;
    height: calc(var(--root-size) * 20);
    width: calc(var(--root-size) * 20);
    position: absolute;
    top: calc(var(--root-size) * 2);
    transform: translate(-50%, -50%) rotateX(90deg);
    background-image: radial-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0) 65%),
    repeating-conic-gradient(from 45deg, rgba(104, 102, 102, 0.438) 0deg 90deg, rgba(22, 12, 12, 0.8) 90deg 180deg);
    background-size: 100%, calc(var(--root-size) * 1.25) calc(var(--root-size) * 1.25);
}

.cube {
    transform-style: preserve-3d;
    position: absolute;
    height: calc(var(--root-size) * 4);
    width: calc(var(--root-size) * 4);
    top: calc(var(--root-size) * -2.05);
    left: calc(var(--root-size) * -2);
    animation: cubeBounce var(--bounceSpeed) cubic-bezier(0.5, 1, 0.89, 1) infinite;
    transform-origin: bottom;
    
    > .front, > .right, > .back, > .left, > .top, > .bottom {
        background-color: rgba(86, 26, 136, 0.693);
        position: absolute;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 0 40px 15px rgba(0, 0, 0, 0.37);
    }

    > .front {
        transform: translateZ(calc(var(--root-size) * 2));
    }
    > .right {
        transform: rotateY(90deg) translateZ(calc(var(--root-size) * 2));
    }
    > .back {
        transform: rotateY(180deg) translateZ(calc(var(--root-size) * 2));
    }
    > .left {
        transform: rotateY(-90deg) translateZ(calc(var(--root-size) * 2));
    }
    > .top {
        transform: rotateX(90deg) translateZ(calc(var(--root-size) * 2));

        > .ballShadow {
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: radial-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.0) 45%);
            animation: ballShadow var(--bounceSpeed) cubic-bezier(0.5, 1, 0.89, 1) infinite;
        }
    }
    > .bottom {
        transform: rotateX(-90deg) translateZ(calc(var(--root-size) * 2));
        background-color: rgba(47, 16, 72, 0.693);
    }
}

.ball {
    transform-style: preserve-3d;
    position: absolute;
    height: calc(var(--root-size) * 2);
    width: calc(var(--root-size) * 2);
    left: calc(var(--root-size) * -1);
    bottom: calc(var(--root-size) * 2);
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    background-image: radial-gradient(circle at top, rgb(255, 255, 255), 50%, rgb(0, 0, 0));
    animation: ballBounce var(--bounceSpeed) cubic-bezier(0.5, 1, 0.89, 1) infinite, rotateScene var(--rotateSpeed) linear infinite reverse;
}

@keyframes rotateScene {
    to {
        transform: rotateY(-360deg);
    }
}

@keyframes ballBounce {
    0%, 100% { bottom: calc(var(--root-size) * 1.5); }
    50% { bottom: calc(var(--root-size) * 5); animation-timing-function: cubic-bezier(0.11, 0, 0.5, 0); }
}

@keyframes ballShadow {
    0%, 100% { transform: scale(1); opacity: 1;}
    50% { transform: scale(1.15); opacity: 0.5; animation-timing-function: cubic-bezier(0.11, 0, 0.5, 0); }
}

@keyframes cubeBounce {
    0%, 100% { transform: scaleY(0.75);}
    5%, 95% { transform: scaleY(1); animation-timing-function: cubic-bezier(0.11, 0, 0.5, 0); }
}