:root {
    --root-size:  clamp(40px, 5vw, 60px);
    --rotateSpeed: 20s;
    --bounceSpeed: 1.8s;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    height: 100lvh;
    width: 100vw;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    perspective: calc(var(--root-size) * 30);
    perspective-origin: 50% calc(50% - calc(var(--root-size) * 8));
    position: absolute;
}

.scene {
    transform-style: preserve-3d;
    /* max-width: 90vw; */
    aspect-ratio: 16/9;
    position: relative;
    animation: rotateScene var(--rotateSpeed) linear infinite;
}

.floor {
    transform-style: preserve-3d;
    height: calc(var(--root-size) * 20);
    width: calc(var(--root-size) * 20);
    position: absolute;
    top: calc(var(--root-size) * 2);
    transform: translate(-50%, -50%) rotateX(90deg);
    background-image: radial-gradient( transparent, 40%, lch(0% 0 0) 65%),
    repeating-conic-gradient(from 45deg, hsl(0 1 40) 0deg 90deg, hsla(0 30 7) 90deg 180deg);
    --_tileSize: calc(var(--root-size) * 2.25);
    background-size: 100%, var(--_tileSize) var(--_tileSize);
    background-position: center;
}

.cube {
    transform-style: preserve-3d;
    position: absolute;
    height: calc(var(--root-size) * 4);
    width: calc(var(--root-size) * 4);
    top: calc(var(--root-size) * -2.05);
    left: calc(var(--root-size) * -2);
    animation: cubeBounce var(--bounceSpeed) cubic-bezier(0.5, 1, 0.89, 1) 0.08s infinite;
    transform-origin: bottom;
    
    > .front, > .right, > .back, > .left, > .top, > .bottom {
        background-color: rgba(86, 26, 136, 0.693);
        position: absolute;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 0 40px 15px rgba(0, 0, 0, 0.37);
    }

    > .front {
        transform: translateZ(calc(var(--root-size) * 2));
    }
    > .right {
        transform: rotateY(90deg) translateZ(calc(var(--root-size) * 2));
    }
    > .back {
        transform: rotateY(180deg) translateZ(calc(var(--root-size) * 2));
    }
    > .left {
        transform: rotateY(-90deg) translateZ(calc(var(--root-size) * 2));
    }
    > .top {
        transform: rotateX(90deg) translateZ(calc(var(--root-size) * 2));

        > .ballShadow {
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: radial-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.0) 45%);
            animation: ballShadow var(--bounceSpeed) cubic-bezier(0.5, 1, 0.89, 1) infinite;
        }
    }
    > .bottom {
        transform: rotateX(-90deg) translateZ(calc(var(--root-size) * 2));
        background-color: rgba(47, 16, 72, 0.693);
    }
}

.ball {
    transform-style: preserve-3d;
    position: absolute;
    height: calc(var(--root-size) * 2);
    width: calc(var(--root-size) * 2);
    left: calc(var(--root-size) * -1);
    bottom: calc(var(--root-size) * 2);
    background-color: hsl(0, 0%, 37%);
    border-radius: 50%;
    background-image: radial-gradient(transparent 55%, hsla(0, 0%, 16%, 0.441) 85%);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: ballBounce var(--bounceSpeed) cubic-bezier(0.5, 1, 0.89, 1) infinite, rotateScene var(--rotateSpeed) linear infinite reverse;
    overflow: clip;

    &::after, &::before {
        content: '';
        inset: 0;
        position: absolute;
    }

    &::before {
        background-image: radial-gradient(circle at top, rgb(255, 255, 255), 30%, transparent);
        transform: scale(1.5, 0.8);
        transform-origin: top;
    }

    &::after {
        background: radial-gradient(circle at bottom, rgba(86, 26, 136, 0.693), 30%, transparent 50%);
        animation: ballShadow var(--bounceSpeed) cubic-bezier(0.5, 1, 0.89, 1) infinite;
    }
}

@keyframes rotateScene {
    to {
        transform: rotateY(-360deg);
    }
}

@keyframes ballBounce {
    0%, 100% { bottom: calc(var(--root-size) * 1.5); }
    50% { bottom: calc(var(--root-size) * 8); animation-timing-function: cubic-bezier(0.11, 0, 0.5, 0); }
}

@keyframes ballShadow {
    0%, 100% { transform: scale(1); opacity: 1;}
    50% { transform: scale(1.15); opacity: 0.5; animation-timing-function: cubic-bezier(0.11, 0, 0.5, 0); }
}

@keyframes cubeBounce {
  0%, 100% { transform: scale3d(1.15, 0.85, 1.15); }
  20% { transform: scale3d(0.9, 1.05, 0.9); }
  25% { transform: scale3d(1, 1, 1); }
  30% { transform: scale3d(0.98, 1.01, 0.98); }
  95% { transform: scale3d(1, 1, 1); }
}